* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Finlandica';
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #1c1c1c;
}

/* BOTONES Y TITULOS */


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.color-acento {
    color: #C1FF72;
}

button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: rgb(101, 33, 165);
    cursor: pointer;
}


/* Header Superior */
.header__superior {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 80px;
}

.search input {
    width: 300px;
    padding: 10px;
}

/* Barra Menu */

.container__menu {
    width: 100%;
    height: 70px;
    background: #C1FF72;
    padding: 0px 20px;
}

.menu {
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li:first-child>a {
    background-image: url(../media/casaNegra.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 22px 30px;

}

nav>ul>li:first-child:hover>a {
    background-image: url(../media/casa.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-size: 17px;
    transition: all 300ms ease;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
    color: aliceblue;
    background: #1c1c1c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Submenu*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #1c1c1c;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 60px;
}

nav ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #1c1c1c;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: aliceblue;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul a:hover {
    background: #C1FF72;
    color: #1c1c1c;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* CUERPO */
#hero {
    margin-top: 190px;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
}

#somos-proya .container {
    text-align: center;
    padding: 200px 12px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../media/somos-proya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}

#caracteristicas .container {
    text-align: center;
    padding: 250px 12px;
    background-color: #1c1c1c;
    color: aliceblue;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../media/beneficios2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
}

/* Pie de pagina */

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #1c1c1c;
}

@media screen and (max-width: 600px) {
    .search input {
        display: none;
    }
}